In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("credit_customers.csv")

In [3]:
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [4]:
df.isna().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [5]:
df.shape

(1000, 21)

In [6]:
pd.__version__

'2.2.3'

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   float64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   float64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   float64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   float64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   float64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: float64(7), object(14)
memory usage: 164.2+ KB

In [8]:
df.columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

In [10]:
#Deleting redundant columns
df=df.drop(columns=['checking_status', 'duration', 'credit_history', 
                 'purpose','installment_commitment', 
                 'personal_status', 'other_parties','residence_since', 'property_magnitude',
                 'other_payment_plans','num_dependents','property_magnitude','savings_status'])

In [11]:
df.head()

,credit_amount,employment,age,housing,existing_credits,job,own_telephone,foreign_worker,class
0,1169.0,>=7,67.0,own,2.0,skilled,yes,yes,good
1,5951.0,1<=X<4,22.0,own,1.0,skilled,none,yes,bad
2,2096.0,4<=X<7,49.0,own,1.0,unskilled resident,none,yes,good
3,7882.0,4<=X<7,45.0,for free,1.0,skilled,none,yes,good
4,4870.0,1<=X<4,53.0,for free,2.0,skilled,none,yes,bad

In [12]:
df.columns

Index(['credit_amount', 'employment', 'age', 'housing', 'existing_credits',
       'job', 'own_telephone', 'foreign_worker', 'class'],
      dtype='object')

In [16]:
df_col_names=[]
for i in df.columns:
    df_col_names.append(i.capitalize())

In [19]:
df_col_names

['Credit_amount',
 'Employment',
 'Age',
 'Housing',
 'Existing_credits',
 'Job',
 'Own_telephone',
 'Foreign_worker',
 'Class']

In [20]:
df.columns=df_col_names

In [21]:
df.columns

Index(['Credit_amount', 'Employment', 'Age', 'Housing', 'Existing_credits',
       'Job', 'Own_telephone', 'Foreign_worker', 'Class'],
      dtype='object')

In [ ]:
#Dropping the duplicates

In [23]:
df.duplicated().sum()

0

In [ ]:
#df.drop_duplicates(inplace=True)

In [24]:
df.isna().sum()

Credit_amount       0
Employment          0
Age                 0
Housing             0
Existing_credits    0
Job                 0
Own_telephone       0
Foreign_worker      0
Class               0
dtype: int64

In [ ]:
#df.dropna(inplace=True)

In [25]:
df['Class'].unique()

array(['good', 'bad'], dtype=object)

In [26]:
df['Class']=df['Class'].apply(lambda x:1 if x=="good" else 0)

In [27]:
df.head()

,Credit_amount,Employment,Age,Housing,Existing_credits,Job,Own_telephone,Foreign_worker,Class
0,1169.0,>=7,67.0,own,2.0,skilled,yes,yes,1
1,5951.0,1<=X<4,22.0,own,1.0,skilled,none,yes,0
2,2096.0,4<=X<7,49.0,own,1.0,unskilled resident,none,yes,1
3,7882.0,4<=X<7,45.0,for free,1.0,skilled,none,yes,1
4,4870.0,1<=X<4,53.0,for free,2.0,skilled,none,yes,0

In [28]:
type(df['Existing_credits'][0])

numpy.float64

In [29]:
type(df['Existing_credits'].unique())

numpy.ndarray

In [31]:
df['Existing_credits']=df['Existing_credits'].astype(int)

In [32]:
df['Existing_credits']

0      2
1      1
2      1
3      1
4      2
      ..
995    1
996    1
997    1
998    1
999    1
Name: Existing_credits, Length: 1000, dtype: int32

In [33]:
df.head()

,Credit_amount,Employment,Age,Housing,Existing_credits,Job,Own_telephone,Foreign_worker,Class
0,1169.0,>=7,67.0,own,2,skilled,yes,yes,1
1,5951.0,1<=X<4,22.0,own,1,skilled,none,yes,0
2,2096.0,4<=X<7,49.0,own,1,unskilled resident,none,yes,1
3,7882.0,4<=X<7,45.0,for free,1,skilled,none,yes,1
4,4870.0,1<=X<4,53.0,for free,2,skilled,none,yes,0

In [34]:
df.to_csv("cleanedData.csv")